<div class="container-fluid">
  <div class="col-6">
    <table class="table" >
      <thead class="table-dark">
        <tr>
          <th class="h4">#</th>
          <th class="h4">Nombre</th>
          <th class="h4">Tipo</th>
          <th class="h4">Region</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cafes">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.nombre}}</dd>
          </td>
          <td>
            <dd>{{c.tipo}}</dd>
          </td>
          <td>
            <dd>{{c.region}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <h5>Total de cafes: {{cafes.length}}</h5>
  <p>Cafes de origen: {{cafesOrigen}}</p>
  <p>Cafes blend: {{cafesBlend}}</p>
</div>
